.container {
    font-family: 'Old Standard TT', serif;
}

form-class + form-class {
    padding-left: 4;
}

.menu-container {
    background-color: white;
    border-radius: 0.5rem;
}

#company-information {
    background-color: white;
    border-radius: 0.5rem;
}

.data-container {
    background-color: rgb(220, 220, 220);
    border-radius: 0.5rem;
}

.data-template {
    border: solid;
    border-color: rgb(109, 109, 109);
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
}